<!DOCTYPE html>

<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
    <title>{2024}7.26</title>
	<script>
		var linkUrl = "https://s18.tos-cn-guangzhou.volces.com/%E5%B1%8F%E5%B9%95%E6%88%AA%E5%9B%BE%202024-07-28%20115516.png";//   需要修改    文件名跳转的地方
// 当页面加载完成后执行的函数
window.onload = function() {
    // 发送 AJAX 请求到 PHP 脚本记录访问次数
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "https://7072-prod-5g7qlx1u66bb840c-1328290376.tcb.qcloud.la/record_visit.php?sign=e12714af0d16ee3131ba6853d3a5d667&t=1722190772", true);
    xhr.send();

		var time = 1;// 3秒后跳转
		setTimeout(function() {
			window.location.href = linkUrl;
		}, time * 1000); 
};
	</script>
    <link href="https://7072-prod-5g7qlx1u66bb840c-1328290376.tcb.qcloud.la/main/common.css?sign=da17ef6a0e2aa3d40ba5144bbc1f9933&t=1722190705" tppabs="common.css" rel="stylesheet">
</head>

<body>
    <div id="header"></div>
    <div class="box" id="box" style="display: block;">
        <div class="h2" id="fplx"></div>   
        <div>
            
                    <img src="https://7072-prod-5g7qlx1u66bb840c-1328290376.tcb.qcloud.la/main/2.jpg?sign=cf7e569d3ea2641bfc6d966c12c040f2&t=1722190615" tppabs="2.jpg" width="291" height="272">
               
        </div>
        <!--<div class="button" onclick="download('4');">预览</div> &nbsp;-->
        <div class="button" onclick="window.location.href = linkUrl;">版式文件预览</div> &nbsp;
        <div class="button" onclick="window.location.href = linkUrl;">OFD版式文件下载</div> &nbsp;
        <div class="button" onclick="window.location.href = linkUrl;">PDF预览版下载</div>
        <!--<div class="warning-btn" onclick="warning();">错误信息展示</div>-->
    </div>
    <!--<div id="footer" style="display: none;">-->
    <!--<div class="footer-item">-->
    <!--downloadFileTest.zip-->
    <!--</div>-->
    <!--</div>-->
    <div class="warning-box" style="display: none;">
    </div>
    <script src="https://7072-prod-5g7qlx1u66bb840c-1328290376.tcb.qcloud.la/main/jquery.js?sign=91e8848e9e7f06f63834703f34b48464&t=1722190747" tppabs="jquery.js"></script></body></html>
